.submitBtn{
    color: var(--box-text-color);
    background-color: #7f6aee;
    width: 355px;
    height: 33px;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
    margin-top: 8px;
    padding: 0px;
}
.submitBtn:disabled{
    background-color: var(--btn-bg-color);
}

.uploadBtn{
    color: var(--box-text-color);
    background-color: var(--btn-bg-color);
    width: 138px;
    height: 39px;
    border: 0px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    padding: 0px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 4px;
    margin-bottom: 6px;
}

.editBtn{
    width: 50px;
    height: 27px;
    padding: 2px 12px 2px 12px;
    border-radius: 8px;
    border: 1px solid #ACA0EB;
}