.postpgtitle_box{
    width: 592px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 25px;
}
.postpgtitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    width: 570px;
}
.postuptitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 20.8px;
    color: var(--text-color);
    margin-bottom: 16px;
    margin-top: 26px;
}
.get_title::placeholder{
    font-size: 16px;
    font-weight: 700;
    line-height: 22.56px;
    color: #838486;
}
.get_title{
    border: 0px;
    margin-top: 20px;
    margin-bottom: 21px;
    width: 570px;
    background-color: var(--main-bg-color);
}
.write_content::placeholder{
    font-size: 15px;
    font-weight: 400px;
    line-height: 21.15px;
    color: #838486;
}
.write_content{
    border: 0px;
    margin-bottom: 24px;
    margin-top: 24px;
    width: 570px;
    height: 270px;
    background-color: var(--main-bg-color);
}
.upload_postimg{
    width: 560px;
}
.postimg_title{
    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
    color: var(--text-color);
    margin-top: 7px;
    margin-bottom: 8px;
}