:root{
  --main-bg-color: #f4f5f7;
  --text-color: black;
  --box-bg-color: #ffffff;
  --btn-bg-color: #aca0eb;
  --help-text-color: #ff0000;
  --box-text-color: #ffffff;
}
hr{
  width:100%; 
  height:1px; 
  background-color:black; 
  border: 0px; 
  margin: 0px;
}